<div class="container-fluid">
    <h1 style="text-align: center;">Open Positions</h1>
    <p style="text-align: center;">Uplers is now remote, forever! We welcome you to enter a new era of work-life
        freedom. Experience creativity &<br>
        flexibility like never before.</p><br>
    <p style="text-align: center;">Ready to get on-board? So hop on and take a look at our open positions. With no
        limitations of location, we<br>
        invite you to work from anywhere in the world.</p><br>
    <p style="text-align: center;">If you are a go-getter, dynamic and willing to grab opportunities that come your way,
        Uplers is the place to be.<br>
        Uplers can be your playground where dreams take flight, ideas turn into innovations and every goal achieved
        is<br>
        celebrated.</p><br>
    <div class="div">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <h4>UI-UX Designer</h4>
            </div>
            <div class="col-md-4">
                <h4>4 Open Roles</h4>
            </div>
            <div class="col-md-2"></div>

        </div><br>
        
    </div>
</div>