<div class="container-fluid">
    <div>
        <h1 style="text-align: center;">Overview</h1><br>
        <p style="text-align: center;">FlexStart Limited (NYSE: WIT, BSE: 507685, NSE: FlexStart) is a leading global
            information technology, consulting and<br>
            business process services company. We harness the power of cognitive computing, hyper-automation,
            robotics,<br>
            cloud, analytics and emerging technologies to help our clients adapt to the digital world and make them
            successful.<br> A company recognized globally for its comprehensive portfolio of services, strong commitment
            to
            sustainability and <br>good corporate citizenship, we have over 180,000 dedicated employees serving clients
            across six continents. <br>Together, we discover ideas and connect the dots to build a better and a bold new
            future.</p>
    </div>
    <div style="background-color:cornsilk;">
        <h1>Spirit of FlexStart</h1><br>
        <p>The Spirit of FlexStart is the core of FlexStart. These are our Values. It is about who we are. It is our
            character.
            It is reflected<br> consistently in all our behavior. The Spirit is deeply rooted in the unchanging essence
            of
            FlexStart. But it also embraces<br> what we must aspire to be. It is the indivisible synthesis of the four
            values.
            The Spirit is a beacon. It is what gives us <br>direction and a clear sense of purpose. It energizes us and
            is
            the touchstone for all that we do.</p>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <h3>Be Passoniate About Clients Success</h3><br>
                <p>We succeed when we make our clients successful.<br> We collaborate to sharpen our insights and
                    amplify<br>
                    this success. We execute with excellence. Always.

                </p>
            </div>
            <div class="col-md-4">
                <h3>Be Global And Responsible</h3><br><br>
                <p>We will be global in our thinking and our actions. We are<br> responsible citizens of the world. We
                    are
                    energized by <br>the deep connectedness between people, ideas,<br> communities and the environment.
                </p>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <h3>Treat Each Person with Respect</h3><br><br>
                <p>We treat every human being with respect. We nurture an<br> open environment where people are
                    encouraged
                    to learn, <br>share and grow. We embrace diversity of thought,of<br> cultures, and of people. </p>
            </div>
            <div class="col-md-4">
                <h3>Unyielding Intigrity in Everything we Do</h3><br>
                <p>Integrity is our core and is the basis of everything. It is<br> about following the law, but it’s more.
                    It is about<br> delivering on our commitments. It is about honesty and<br> fairness in action. It is about
                    being ethical beyond any <br>doubt, in the toughest of circumstances.</p>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>