<div class="container-fluid">
    <h1 style="text-align: center;">Our Blogs</h1><br><br>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <img src="assets/images/blog1.png" class="card-img-top" alt="...">
              </div>
        </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="assets/images/blog2.png" class="card-img-top" alt="...">
                  </div>
        </div>
            <div class="col-md-3">
                <div class="card">
                   <a href=""> <img src="assets/images/blog3.png" class="card-img-top" alt="..."></a>
                  </div>
        </div>
            <div class="col-md-3">
                <div class="card">
                    <a href=""><img src="assets/images/blog8.png" class="card-img-top" alt="..."></a>
                  </div>
        </div>
    </div><br><br>
    <div class="row">
            <div class="col-md-3">
                <div class="card">
                   <a href=""> <img src="assets/images/blog4.png" class="card-img-top" alt="..."></a>
                  </div>
    
        </div>
            <div class="col-md-3">
                <div class="card">
                   <a href=""> <img src="assets/images/blog5.png" class="card-img-top" alt="..."></a>
                  </div>
    
        </div>
            <div class="col-md-3">
                <div class="card">
                   <a href=""> <img src="assets/images/blog6.png" class="card-img-top" alt="..."></a>
                  </div>
    
        </div>
            <div class="col-md-3">
                <div class="card">
                   <a href=""> <img src="assets/images/blog7.png" class="card-img-top" alt="..."></a>
                  </div>
    
        </div>

    </div>
</div>