<div class="container-fluid">
    <h1 style="text-align: center;">Our Expertise</h1>
    <p>Redefine your operations and re-imagine your customer journey across business processes, applications, and
        infrastructure management processes by hyper-automating your processes through AI & cognitive computing-based
        solutions.</p>
    <p>The biggest challenges faced by customers in AI and Automation are what the technologies can do for them, how
        they can get past the adoption hurdles and how to achieve non-linear growth in speed, scale and agility.
        Therefore, FlexStart’s Automation and AI portfolio extends beyond the range of solutions that HOLMES platform
        offers. It provides vendor-neutral advisory services and prebuilt solution assets on ecosystem partner
        marketplaces. This helps to handhold customers in their digital journey, through identification of right
        business problems, defining success criteria, evaluating right technologies, smooth implementation and adoption,
        risk and change management and governance.
    </p><br><br>
    <h1 style="text-align: center;">Our Team</h1><br><br>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <img src="assets/images/team1.png" class="card-img-top" alt="...">
              </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="assets/images/team2.png" class="card-img-top" alt="...">
              </div>

        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="assets/images/team3.png" class="card-img-top" alt="...">
              </div>

        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="assets/images/team4.png" class="card-img-top" alt="...">
              </div>

        </div>

    </div>
</div><br>