<div class="container-fluid" >
    <div class="bg" style="background-image: url(assets/homebg1.jpeg);">
        <h1 class="h1">Empowering A<br> Silent Future</h1>
    </div>
    <div style="padding: 40px;">
        <p class="p">As the world transitions to a new normal, FlexStart is empowering a more resilient future for customers and<br>
            communities. From building more adaptive "business-anywhere" frameworks to advanced technologies that fuel
            the<br> intelligent enterprise, FlexStart helps businesses thrive in a world defined by disruption and fueled by
            transformative<br> technology.</p>
    </div>
    <div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
               <a href=""> <img src="assets/images/home1.png" alt=""></a>
            </div>&nbsp;&nbsp;
            <div class="col-md-4">
                <a href=""><img src="assets/images/home2.png" alt=""></a>
                </div>
            <div class="col-md-2"></div>

        </div><br>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <a href=""><img src="assets/images/home4.png" alt=""></a>
                </div>&nbsp;&nbsp;
            <div class="col-md-4">
                <a href=""><img src="assets/images/home3.png" alt=""></a>
                </div>
            <div class="col-md-2"></div>

        </div>
    </div><br><br>
    <div>
    </div>


</div>
<a href=""><img class="img" src="assets/images/home5.png" alt=""></a>
