<div class="container-fluid bg" style="background-image: url(assets/contactbg.jpeg);">
    <h1 class="h1">Contact Us</h1>
</div><br><br><br>
<div class="container-fluid">
    <p style="text-align: center;">Thank you for your interest in Wipro’s services. Please provide the following information about your business
        needs to<br> help us serve you better. This information will enable us to route your request to the appropriate
        person. You should<br> receive a response within 48 hours.</p><br><br>

        <h3 style="text-align: center;">Contact Form</h3>

        <div class="container">
          <form action="/action_page.php">
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name..">
        
            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name..">
        
            <label for="country">Country</label>
            <select id="country" name="country">
              <option value="australia">Australia</option>
              <option value="usa">India</option>
              <option value="usa">Brazil</option>
              <option value="canada">Canada</option>
              <option value="usa">USA</option>
            </select>
        
            <label for="subject">Subject</label>
            <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
        
          <p style="text-align: center;">  <input type="submit" value="Submit"></p>
          </form>
        </div>
        

</div>